/************* TOP LEVEL CONTAINERS ********************/

html {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9em;
    color: #EEEEEE;
    background-color: #222222;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100%;
    padding: 0;
    margin: 0;
}
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/******************************  LANDING PAGE  ***************************************/
.lpVideo {
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: -1;
}
/*
.backstretch img {
    filter: brightness(50%)
}*/

/************* SITE-WIDE ELEMENT SETTINGS ********************/
p {
    font-size: 1.3rem;  /* Default font size for content */
}
a {
    text-decoration: none;
    color: #88AAFF;
}
hr {
    width: 100%;
}
a:hover {
    color: gold;
}
h1 {
    color: gold;
}

/***************************  BRAND & NAVIGATION BAR *************************************/
.brandnav {
    font-size: 1.7rem;
    padding: 40px 40px 0 40px;
    display: flex;
}
.brandbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}
.socialsgroupbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.socialsiconbox img {
    width: 30px;
    height: 30px;
    padding: 5px;
    object-fit: cover;
    filter: invert();
}
.navbar ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
 }
 .navbar li {
     padding: 20px;
     text-decoration: none;
 }
 /* Main menu nav links */
a.nav-link {
    color: #AAAAAA;
}
a.nav-link:hover {
    color: gold;
}
a.nav-link.brand {
    color: red;
}
/******************************  MAIN SECTION CONTAINER  ***************************************/
.mainsection{
    /* Center the content */
    display: flex;
    flex-grow: 1;
    padding: 0px 40px 0px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
/******************************  FOOTER  ***************************************/
.footer {
    display: flex;
    justify-content: center;
}

/***************************** FRONT PAGE *******************************/

.announcementSection {
    display: flex;
}

.announcementSectionText {
    padding: 10px;
}

/***************************** WORKS LIST PAGE *******************************/

.wlTopContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.wlSection {
    padding: 20px;
}

.wlSectionHeader {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    width: 100%;
}

.wlWorkBox {
    /*display: flex;
    flex-wrap: wrap;*/
    margin: 0px 0px 15px 0px;
    padding: 10px;
    /* border:#eeeeee solid 1px; */
    background-color: #222222;
}

.wlWorkTitleRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.wlWorkTitle {
    padding-right: 20px;
    white-space: nowrap;
    color: gold
}

.wlWorkLinkButton {
    background-color: #444444;
    white-space: nowrap;
    padding:0px 5px 0px 5px; 
    margin: 0px 5px 0px 5px;
}

.wlWorkYear {
}

.wlWorkDetailLine {
    display: flex;
    flex-wrap: wrap;
}

.wlWorkDetailYear {
    padding-right: 20px;
    color: #AAAAAA;
}

.wlWorkDetailLength {
    padding-right: 20px;
    color: #AAAAAA;
}

.wlWorkDetailForces {
    color: #AAAAAA;
}
/***************************** PROJECT DETAIL PAGES *******************************/
.pdTopContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}
.pdHeader {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}
.pdBanner {
    display: flex;
    height: 200px;
}
.pdBanner img {
    height: 100%;
    object-fit: cover;
}
.pdTitleAndYear {
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-size: 3em;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pdTitle {
    font-size: 3rem;
}
.pdYear {
    font-size: 1.2rem;
}
.pdAudioPlayer {
    display: flex;
    flex-direction: column;
    justify-items: right;
    justify-content: right;
    padding-right: 20px;
}
.pdMainContainer {
    display: flex;
    width: 100%;
}
.pdMainContent {
    display: block;
    width: 80%;
    padding: 20px;
}
.pdContentImg {
    display: flex;
    justify-content: center;
}
.pdContentImg img {
    width: 100%;
    object-fit: cover;
}
.pdVideoFrame {
    display: flex;
    justify-content: center;
}

/******************************************* Project detail sidebar *****************************************/
.pdSidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px;
    border-width: 1px;
    border-color: grey;
    border-style: none none none solid;
}

.pdSidebar p {
    font-size: 1.0rem;
    text-align: center;
}

.pdSidebarSection {
    display: flex;
    flex-direction: column;
}

.pdSidebarSectionTitle {
    font-size: 1.0rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.pdSidebarImage {
    display: flex;
    justify-content: center;
}

.pdSidebar img {
    max-width: 150px;
    object-fit: cover;
}

/******************************  SHOWREEL PAGE  ***************************************/

.showreelsContainer {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.showreelAudioPlayer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: right;
    justify-content: right;
}

.showreelTitleOrch {
    width: 100%;
    text-align: center;
    color: gold;
}

.showreelTitleNonOrch {
    width: 100%;
    text-align: center;
    color: #FF4444;
}

.showreelPlaylistOrch, .showreelPlaylistNonOrch {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
}

.showreelPlaylistOrch {
    border: gold solid 1px;
}

.showreelPlaylistNonOrch {
    border: #FF4444 solid 1px;
}

.showreelTrack {
    margin: 5px;
    width: 100%;
}

.showreelPlaylistOrch p {
    margin: 0;
    color: gold;
}

.showreelPlaylistNonOrch p {
    margin: 0;
    color: #FF4444;
}


/******************************  CONTACT PAGE  ***************************************/
.contactPage {
    width: 50%;
}
.contactAdrianBox {
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
}
.representationBox {

}
input[type=text], [type=email], textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  } 
input[type=submit] {
    width: 100%;
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
input[type=submit]:hover {
    background-color: orange;
  }
/***************************  AUDIO PLAYER *************************************/

.audioTrackRow {
    display: flex;
    align-items: center;
    padding: 5px;
}

div.amplitude-play-pause {
    filter: invert();
    width: 15px;
    height: 15px;
    padding: 0;
    cursor: pointer;
    vertical-align: middle;
}

div.amplitude-play-pause.amplitude-paused {
    background-size: cover;
    background: url("/images/svg/play.svg");
}
div.amplitude-play-pause.amplitude-playing {
    background-size: cover;
    background: url("/images/svg/pause.svg");
}

div.audioProgress {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

input.amplitude-song-slider {
    height: 10px;
    width: 100px;
}


/******************************  MEDIA QUERY ADJUSTMENTS  ***************************************/

@media only screen and (max-width: 1000px) {
    /* For tablets: */

    p {
        font-size: 1.1rem;  /* Default font size for content */
    }

    .navbar ul {
        font-size: 0.7em;
    }

    .socialsiconbox img {
        width: 20px;
        height: 20px;
        padding: 3px;
    }
    .pdTopContainer {
        width: 100%;
    }
}
@media only screen and (max-width: 500px) {
    /* For phones: */
    p {
        font-size: 1.1rem;  /* Default font size for content */
    }
    .tile {
        width: 100px;
    }
    .tile a {
        width: 100px;
        height: 100px;
    }
    .tileGrid {
        flex-direction: column;
        justify-content: start;
    }

    .announcementSection {
        flex-direction: column;
    }

    .wlWorkTitle {
        font-size: 0.9em;
    }

    /*
    .wlWorkTitleRow {
        flex-direction: column;
        align-items: left;
    }*/

    .pdTopContainer {
        width: 100%;
    }
    .pdMainContainer {
        width: 100%;
        display: block;
    }
    .pdMainContent {
        width: 100%;
        padding: 0;
    }
    .pdSidebar {
        border-style: solid none none none;
        padding: 0;
        width: 100%;
    }

    .showreelsContainer {
        flex-direction: column;
        width: 100%;
    }
  }

